# Cấu hình chuỗi kết nối cho MySQL
DB_URL=jdbc:mysql://localhost:3306/webst3?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=123123

DDL_AUTO=update
SHOW_SQL=true
SERVER_PORT=8080

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=xxx@gmail.com
MAIL_PASSWORD=xxxx xxxx xxxx xxxx

CLOUDINARY_CLOUD_NAME=xxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxxxxxxx
CLOUDINARY_API_SECRET=xxx-xxxxxxxxxxxxxxxxxxxxxxx